<div class="waingunga">
  <div class="rock"></div>
  <div class="around-ocean">
    <div class="around-ocean2" [style.width]="oceanWidth + 'px'">
      <div class="ocean" #ocean [style.height]="oceanHeight + 'px'">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </div>
  <!--<div class="rock-frame"></div>-->
  <img src="/assets/images/png/frame-rock.png" #frameRock class="rock-frame"/>
</div>
<!--<div class="clipper">
</div>
<div class="frame-clipper">
</div> -->
