<div class="background-paysage backgrounded">
  <div class="row">
    <div class="col-2 col-md-2 col-sm-2 icons">
        <!-- icones -->
      <div class="icone icon-1 col-12">
      </div>
      <div class="icone icon-2 col-12">
      </div>
      <div class="icone icon-3 col-12">
      </div>
      <div class="icone icon-4 col-12">
      </div>

    </div>
    <div class="col-3 col-md-3 col-xs-10 m-auto h-90">
      <!-- barage -->
      <app-barrage  [lvlBarrage]="parameters?.barrageLvl"></app-barrage>
    </div>
    <div class="col-6 col-md-6 col-xs-12 rock-container">
      <!-- rocher -->
      <app-waingunga [lvlWaingunga]="parameters?.waingungaLvl"></app-waingunga>
    </div>
  </div>
</div>
